  <label>Date e.g., 07/21/2016</label>
  <input type="text" name="appointment[date]" value="<%= @appointment.date %>">
  <br>
  <label> Appointment Start </label>
  <input type="text" name="appointment[start]" value="<%=@appointment.start_string %>">
  <br>
  <label> Appointment Finish</label>
  <input type="text" name="appointment[finish]" value="<%= @appointment.finish_string %>">
