<h1>Create a New Appointment</h1>
<form action="/appointments" method="post">
  <h2>Date and Time Format e.g, 06/12/16 4pm</h2>
  Appointment Start:
  <input type="datetime-local" name="start">
  <br>
  Appointment Finish:
  <input type="datetime-local" name="finish">
  <button type="submit" name="submit">Create New Appointment</button>
</form>
