<h1>Create a New Appointment</h1>
<form action="/appointments" method="post">
  <label>Date MM/DD/YEAR</label>
  <input type="text" name="date">
  <br>
  <label>Appointment Time Start e.g., 4:00pm:</label>
  <input type="datetime-local" name="start">
  <br>
  <label>Appointment Time Finish:</label>
  <input type="datetime-local" name="finish">
  <br>
  <button type="submit" name="submit">Create New Appointment</button>
</form>
