<h1>Create a New Appointment</h1>
<form action="/appointments" method="post">
  <h2>Date MM/DD/YEAR</h2>
  <input type="text" name="date">
  Appointment Time Start e.g., 4:00pm:
  <input type="datetime-local" name="start">
  <br>
  Appointment Time Finish:
  <input type="datetime-local" name="finish">
  <button type="submit" name="submit">Create New Appointment</button>
</form>
