<!doctype html>
<html>
  <head>
    <title>Salon Sassoon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav>
      <ul>
      <% if logged_in? %>

        <li><a href="/appointments/new"> Create Appointment </a></li>
        <li><a href="/appointments">All appointments</a></li>
        <li><a href="/logout"> Log Out </a></li>
        <li><p>Welcome, <%=current_user.username %></p></li>

      <% else %>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login"> Sign In </a></li>
      <%end %>
      </ul>
    </nav>
    <div class="container">
      <h1>Salon Sassoon</h1>
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
